@using SeveroTechLanding.Common
<div class="container-fluid bg-dark-severotech text-green-severotech mt-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-8 col-md-6">
                <div class="row gx-5">
                    <div class="col-lg-4 col-md-12 pt-5 mb-5">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="text-green-severotech mb-0">Entrar em contato</h3>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-geo-alt text-green-severotech me-2"></i>
                            <p class="mb-0">@string.Join(", ",ContactEnum.CIDADE, ContactEnum.ESTADO, ContactEnum.PAIS)</p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-envelope-open text-green-severotech me-2"></i>
                            <p class="mb-0">@ContactEnum.EMAIL</p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-telephone text-green-severotech me-2"></i>
                            <p class="mb-0">@ContactEnum.NUMERO_TELEFONE</p>
                        </div>
                        <div class="d-flex mt-4">
                            <a class="btn btn-green btn-square me-2" href=@SocialEnum.WHATSAPP target="_blank"><i class="fab fa-whatsapp fw-normal"></i></a>
                            <a class="btn btn-green btn-square me-2" href=@SocialEnum.LINKEDIN target="_blank"><i class="fab fa-linkedin-in fw-normal"></i></a>
                            <a class="btn btn-green btn-square" href=@SocialEnum.INSTAGRAM target="_blank"><i class="fab fa-instagram fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="text-green-severotech mb-0">Links Rápidos</h3>
                        </div>
                        <div class="link-animated d-flex flex-column justify-content-start">
                            <a class="text-green-severotech mb-2" href="#"><i class="bi bi-arrow-right text-green-severotech me-2"></i>@TituloEnum.TITULO_INICIO</a>
                            <a class="text-green-severotech mb-2" href="#"><i class="bi bi-arrow-right text-green-severotech me-2"></i>@TituloEnum.TITULO_SOBRE</a>
                            <a class="text-green-severotech mb-2" href="#"><i class="bi bi-arrow-right text-green-severotech me-2"></i>@TituloEnum.TITULO_PLURAL_SERVICO</a>
                            <a class="text-green-severotech mb-2" href="#"><i class="bi bi-arrow-right text-green-severotech me-2"></i>@TituloEnum.TITULO_CONHECA_TIME</a>
                            <a class="text-green-severotech" href="#"><i class="bi bi-arrow-right text-green-severotech me-2"></i>@TituloEnum.TITULO_CONTATE_NOS</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="text-green-severotech mb-0">Links populares</h3>
                        </div>
                        <div class="link-animated d-flex flex-column justify-content-start">
                            <a class="text-green-severotech mb-2" href="#"><i class="bi bi-arrow-right text-green-severotech me-2"></i>@TituloEnum.TITULO_INICIO</a>
                            <a class="text-green-severotech mb-2" href="#"><i class="bi bi-arrow-right text-green-severotech me-2"></i>@TituloEnum.TITULO_SOBRE</a>
                            <a class="text-green-severotech mb-2" href="#"><i class="bi bi-arrow-right text-green-severotech me-2"></i>@TituloEnum.TITULO_PLURAL_SERVICO</a>
                            <a class="text-green-severotech mb-2" href="#"><i class="bi bi-arrow-right text-green-severotech me-2"></i>@TituloEnum.TITULO_CONHECA_TIME</a>
                            <a class="text-green-severotech" href="#"><i class="bi bi-arrow-right text-green-severotech me-2"></i>@TituloEnum.TITULO_CONTATE_NOS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark-severotech text-green-severotech">
    <div class="container text-center">
        <div class="row justify-content-end">
            <div class="col-lg-8 col-md-6">
                <div class="d-flex align-items-center justify-content-center" style="height: 75px;">
                    <p class="mb-0">
                        &copy; <a class="text-white border-bottom" href="https://severotech.com.br">SeveroTech</a>. Todos os direitos reservados.
                        Designer Criado Por Matheus Severo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>